<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.age.apps.autocompletetextview" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AutoCompleteXML"
            android:label="@string/title_activity_auto_complete_xml"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AutoCompleteArrray"
            android:label="@string/title_activity_auto_complete_array"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AutoCompleteCustomItem"
            android:label="@string/title_activity_auto_complete_item"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AutoCompleteCustomAdapter"
            android:label="@string/title_activity_auto_complete_adapt"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
